.audio-player {
  background-color: white;
}

input[type="range" i] {
  /* overflow: hidden; */
  /* width: 80px; */
  -webkit-appearance: none;
  cursor: default;
  padding: initial;
  border: 2px red;
  /* background-color: #9a905d; */
  color: white;
}

input[type="range"].slider:focus {
  outline: none;
}

input[type="range"].slider {
  -webkit-appearance: none;
  margin: 0em 0em;
  background-color: red;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -80px 0 0 80px #43e5f7;
}
