.ellipse {
  display: none;
  font-size: 18px;
}

.playicon {
  display: none;
  font-size: 200%;
}

.index1 {
  display: block;
}

.parent {
  background-color: "#EBECED";
}

.parent:hover {
  background-color: white;
}

.child:hover .ellipse,
.child:hover .playicon {
  display: block;
}
.child1:hover .index1 {
  display: none;
}

.smallParent:hover {
  background-color: white;
}
