.ico-note {
  height: 31px;
  width: 25px;
  float: left;
  color: #f76b38;
  background: url("https://secure.yatra.com/content/social/images/New-Social-Webcore-Sprite.png");
  background-position: 1px -63px;
  margin-right: 10px;
}

.icon-cal {
  height: 31px;
  width: 25px;
  float: left;
  color: #f76b38;
  background: url("https://secure.yatra.com/content/social/images/New-Social-Webcore-Sprite.png");
  background-position: 1px -2px;
  margin-right: 10px;
}

.icon-air-tick {
  height: 31px;
  width: 25px;
  float: left;
  color: #f76b38;
  background: url("https://secure.yatra.com/content/social/images/New-Social-Webcore-Sprite.png");
  background-position: 1px -31px;
  margin-right: 10px;
}

.icon-e-cash {
  height: 31px;
  width: 25px;
  float: left;
  color: #f76b38;
  background: url("https://secure.yatra.com/content/social/images/New-Social-Webcore-Sprite.png");
  background-position: 1px -102px;
  margin-right: 10px;
}

.icon-e-cash-transport {
  height: 31px;
  width: 25px;
  float: left;
  color: #f76b38;
  background: url("https://secure.yatra.com/content/social/images/New-Social-Webcore-Sprite.png");
  background-position: 1px 90px;
  margin-right: 10px;
}

.icon-e-cash-shop {
  height: 31px;
  width: 25px;
  float: left;
  color: #f76b38;
  background: url("https://secure.yatra.com/content/social/images/New-Social-Webcore-Sprite.png");
  background-position: 1px -162px;
  margin-right: 10px;
}

.icon-sme {
  height: 32px;
  width: 25px;
  float: left;
  color: #f76b38;
  background: url("https://secure.yatra.com/content/social/images/New-Social-Webcore-Sprite.png");
  background-position: 1px -195px;
  margin-right: 10px;
}
