.mainList {
  list-style: none;
  color: "#999";
  padding: 0;
}

.playlist {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: white;
}

.playlist:hover {
  background-color: lightgray;
}
