.imagePlay {
  display: none;
  font-size: 50px;
  position: absolute;
  top: 30%;
  z-index: 1;
  color: white;
  opacity: 90%;
  left: 40%;
}

.imageParent:hover + .imagePlay {
  display: block;
}

.imagePlay:hover {
  display: block;
  color: black;
  opacity: 1;
}

.overl {
  z-index: 100001;
  height: 100%;
  /* width: 100%; */
  /* padding: 20%; */
  /* padding-top: 2%; */
  /* margin-top: 3%;
  margin-left: 20%; */
  /* padding-bottom: 20%; */
  position: fixed;
  background-color: black;
  opacity: 0.9;
}
