.sorthover :hover {
  color: red;
}

.checked {
  padding-right: 10px;
}

.texthover :hover {
  color: red;
  text-decoration: underline;
}

.modifyBtn {
  background-color: #e4e4e4;
  color: #666;
  border: 1px solid #666;
  padding: 5px 10px;
  line-height: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.modifyBtn :hover {
  color: black;
  border-color: black;
}

.optio {
  border-left-color: rgb(232, 231, 236);
  border-left: solid #e8e7ec;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 8px;
}

.optio :hover {
  border-left-color: rgb(232, 231, 236);
  border-top: 3px solid red;
  background-color: lightgrey;
}

.heading {
  border-left-color: rgb(232, 231, 236);
  border-left: solid #e8e7ec;
  cursor: pointer;
  border-top: 3px solid red;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: lightgrey;
}

.n2 {
  display: none;
  border: 1px solid black;
  position: absolute;
  top: -30px;
  left: -10px;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 2px;
  white-space: nowrap;
}

.n1 {
  margin: 10px;
  position: relative;
}
.n1:hover .n2 {
  display: block;
}

.inn {
  font-size: 16px;
  padding-right: 5%;
  padding-bottom: 5%;
  font-weight: normal;
}

.calhidden {
  display: none;
  background-color: white;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  width: 150%;
  padding-top: 5%;
  padding-right: 8%;
  padding-bottom: 5%;
  padding-left: 10%;
  border-radius: 2%;
  opacity: 1;
  border: 0.5px solid lightgrey;
  overflow: hidden;
  z-index: 1;
}

.calparent:hover .calhidden {
  display: inline-block;
}
