.imgGallery {
  padding: 0;
  overflow: hidden;
  margin: 0;
  padding-left: 0;
  width: 100%;
  height: 50%;
  padding-bottom: 0%;
}
.previous {
  top: 50%;
  cursor: pointer;
  margin-top: -70px;
  opacity: 0.8;
  left: 0px;
  border-radius: 0px 3px 3px 0px;
  background: rgb(255, 255, 255);
  width: 31px;
  padding: 10px;
  position: absolute;
  height: 35px;
  display: inline-block;
}

.next {
  margin: 0;
  top: 50%;
  cursor: pointer;
  margin-top: -70px;
  opacity: 0.8;
  right: 0;
  border-radius: 3px 0 0 3px;
  background: #fff;
  width: 31px;
  padding: 10px;
  position: absolute;
  height: 35px;
  display: inline-block;
}

.imglist {
  width: 8%;
  height: 10%;
  margin-top: 0%;
  margin-left: 0;
  padding-left: 0;
  margin-right: 0.5%;
  float: left;
  opacity: 0.5;
  border-radius: 10%;
}

.imglist :hover {
  opacity: 0.9;
}

.imgclicked {
  width: 8%;
  height: 10%;
  padding: 0;
  margin-top: 0%;
  margin-left: 0;
  padding-left: 0;
  margin-right: 0.5%;
  float: left;
  opacity: 1;
  border-radius: 10%;
}
